.tomato {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    background-color: white;
    border-radius: 30px;
}

.tomato:before {
    content: "🍁";
    position: absolute;
    left: 1px;
    top: -9px;
    color: transparent;
    text-shadow: 0 0 0 white;
    transform: rotate(170deg);
}

.tomato:after {
    content: "";
    position: absolute;
    left: 12px;
    top: -10px;
    height: 20px;
    background-color: transparent;
    border-left: 3px solid white;
    border-top-left-radius: 100%;
    transform: skew(-20deg);
}

.tomato > span {
    color: #DC3545;
    position: absolute;
    z-index: -1;
}

.navbar-items {
    margin-left: 50px;
    flex-basis: 100%;
    margin-top: -32px;
}

.navbar-item-list {
    flex-direction: row;
}

.navbar-item-list > li {
    padding-right: 15px;
}

.navbar-item-list > li > a {
    color: #FFFFFF !important;
}